.QutubInfoPage img {
    height: 100vh;
    width: 100vw;
    filter: blur(1px);
  }
  
  .QutubInfoPage {
    position: relative;
  }
  
  .imageContainer {
    position: relative;
    text-align: center;
  }
  
  .overlayTable {
    position: absolute;
    top: 20%; 
    left: 50%;
    height: 50%;
    width: 70%;
    transform: translateX(-50%); 
    background-color: rgba(255, 255, 255, 0.3);  
    border-collapse: collapse;
    z-index: 1; 
  }
  
  .overlayTable th,
  .overlayTable td {
    border: 1px solid rgba(0, 0, 0, 0.5); 
    padding: 8px;
    text-align: center; 
    color: black; 
  }
  
  .overlayTable th {
    background-color: rgba(255, 255, 255, 0.5);
  }


  .redBox {
    position: absolute;
    top: 20px; 
    left: 50%; 
    border: 2px solid red;
    width: 50%; /* Set the width as needed */
    height: 40%; /* Set the height as needed */
  }
  
  .blackBox {
    position: absolute;
    bottom: 170px;
    left: 45%; /* Adjust the position as needed */
    border: 2px solid black;
    width: 530px; /* Set the width as needed */
    height: 20px; /* Set the height as needed */
  }
  