.navbarMain{
  background-color: rgba(255, 174, 0, 0.719);
}

.modalbody{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.modalbody input{
  width: 100%;
  padding: 10px;
  border-radius: 50px;
}

.btnlog{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.btnlog button{
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(255, 174, 0, 0.719);
}

.checkbox{
  margin-left: 20px;
  color: blue;
  display: flex;
  justify-content: space-between;
}

.checkbox p {
  display: flex;
  justify-content: end;
  align-items: end;
}

.Registerlink{
  display: flex;
  justify-content: center;
  align-items: center;
}


.tajdiv{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,25,124,1) 40%, rgba(0,134,255,1) 91%);
 
 }    
 
 
 .tajdiv img {
  height: 50vh;
  border-radius: 50px;
  margin: 70px 70px 70px 70px;
 }
 
 
 