@import url("https://fonts.googleapis.com/css2?family=Updock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

.Home-img img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.cardss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 40px;
}

.cards2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 40px;
}

.card-heading {
  margin-top: 30px;
  text-align: center;
}

.glassbody {
  position: relative; /* Make the parent a positioning context */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 0;
  height: 100vh;
  overflow: hidden; /* Prevent overflow of pseudo-element */
}

.glassbody::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1587135941948-670b381f08ce?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHRhaiUyMG1haGFsfGVufDB8fDB8fHww")
      no-repeat center center;
  background-size: cover;
  z-index: 1;
}

.glassbody > * {
  position: relative; /* Bring text to the front */
  z-index: 2; /* Ensure text is above the overlay */
}

.navbar h1 {
  font-weight: 800;
  color: white;
  font-size: 3rem;
  font-family: "Updock";
  margin-left: 30px;
}

.glass {
  /* background: rgba(255, 255, 255, 0.4); */
  height: 50vh;
  border-radius: 15px;
  padding: 30px;
  width: 700px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-top: 20vh;
  border: 2px solid red;
}

.glass h1 {
  font-weight: 400;
  font-size: 3rem;
  color: white;
  font-style: normal;
}

.glass h4 {
  font-weight: 300;
  font-size: 2rem;
  color: rgb(252, 218, 155);
  margin-bottom: 60px;
}

.Sign-In {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.signin1 {
  height: 5vh;
  min-width: 8vw;
  margin-right: 10px;
  border-radius: 15px;
  background-color: #18206f;
}

.signin1 button {
  background-color: #18206f;
  border: none;
  height: 5vh;
  min-width: 8vw;
  border-radius: 15px;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
}

.signin2 {
  height: 5vh;
  min-width: 8vw;
  border-radius: 15px;
  margin-right: 20px;
}
.signin2 button {
  background-color: rgb(252, 218, 155);
  border: none;
  height: 5vh;
  min-width: 8vw;
  border-radius: 15px;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  margin-right: 20px;
}
