.navbarMain {
  background-color: rgba(255, 174, 0, 0.719);
}

.modalbody label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 0px 10px 0px 10px;
}

.modalbody input {
  width: 100%;
  padding: 10px;
  border-radius: 50px;
}

.btnlog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
.Forget-Pass{
  text-align: end;
}
.btnlog button {
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(255, 174, 0, 0.719);
}


.Registerlink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taj-img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  overflow: hidden;
}

.cardss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 40px;
}

.cards2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 40px;
}

.card-heading {
  margin-top: 30px;
  text-align: center;
}
